@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    color: black;
}

textarea {
    color: black;
}

.container{
    color: white;
}

option{
    color: black;
}
select{
    color: black;
}
